---
import Layout from "../layouts/Layout.astro";
import { getEntry } from "astro:content";
import PriceTable from "../components/PriceTable.astro";

interface PricesTypes {
    title: string;
    price: string;
}

const pricesCommon = await getEntry("prices", "common");
const pricesSurgery = await getEntry("prices", "surgery");

const pageName = "Услуги";
---

<Layout title={pageName}>
    <div class="text-content md:pl-14 md:pr-96 md:ml-72 py-10">
        <PriceTable title={pageName} collection={pricesCommon} />
        <PriceTable title="Хирургия" collection={pricesSurgery} />
    </div>
</Layout>
