---
import moscowSign from "../assets/shield.svg?raw";

const NOW = new Date();
const timelineText = `2009-${NOW.getFullYear()}`;
---

<div class="footer-wrapper">
    <div class="solid w-full h-1"></div>
    <footer class="flex justify-start py-10 px-20 md:ml-40 w-max">
        <div class="svg"><Fragment set:html={moscowSign} /></div>
        <div class="elisa-regular mt-5 ml-6">{timelineText}</div>
    </footer>
</div>
<style>
    .footer-wrapper {
        font-size: 2.4rem;
        background: linear-gradient(
            to bottom,
            var(--startBackColor) 0%,
            var(--stopBackColor) 100%
        );
    }
</style>
