<nav class="py-4 pl-4 w-full">
    <ul class="menu flex md:px-10 md:ml-72 text-4xl font-black">
        <li class="menu_item mr-10"><a href="/">Главная</a></li>
        <li class="menu_item mr-10"><a href="/prices">Цены</a></li>
    </ul>
</nav>

<style>
    nav {
        background-color: white;
        color: var(--highlightDarkColor);
    }
    .menu_item:hover {
        color: var(--primaryColor);
    }
</style>
